/* Body styles */
body {
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  height: 100vh;
  overflow: hidden;
  background-image: url('./backgroundpic.webp');
  background-size: 120vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

/* Input styles */
.input {
  margin-bottom: 20px;
}

/* Chart container styles */
.chartContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width for responsiveness */
}

/* File upload button styles */
.fileUploadContainer {
  background-color: #93c1f1;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.fileUploadButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #93c1f1;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.fileUploadButton:hover {
  background-color: #93c1f1;
}

/* File input styles */
.fileInput {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

/* Highlights the score value */
.highlight {
  font-weight: bold;
  color: #007bff; /* Example color - blue */
}

/* Highlights the prediction values */
.predictionValue {
  font-weight: bold;
  color: #28a745; /* Example color - green */
}

/* Additional styling for context */
.scoreCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

.scoreContainer {
  text-align: center;
}
/* Score styling */
.score {
  font-size: 1.5rem; /* Increase the font size for better visibility */
  color: black; /* A vibrant color to highlight the score */
  margin: 1rem 0; /* Add some space around the score for better layout */
  font-weight: bold; /* Ensure the font weight is bold for emphasis */
  text-align: center; /* Center-align the score for prominence */
  padding: 0.5rem 1rem; /* Padding for better spacing inside the score element */
}
.message {
  font-size: 1.5rem;
  color: black; /* Soft color for messages */
  margin-bottom: 1rem;
}
.predictionsTableContainer {
  margin-top: 20px;
}

.predictionsTable {
  width: 100%;
  border-collapse: collapse;
}

.predictionsTable td, .predictionsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.predictionsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .chartContainer {
    width: 90%; /* Adjust the width for smaller screens */
  }
}